# OS X
.DS_Store

# Jekyll build
/_site/
.jekyll-metadata
#Gemfile.lock

# webstorm
.idea/

# others
*.swp

# site build
*.gem
*.rbc
.bundle
.config
assets
coverage
InstalledFiles
lib/bundler/man
node_modules/
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
